 html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
 }

#slider {
    top: 4px;
    position: relative;
    width: 250px;
    margin: 0 auto;
    display: inline-block;
}

.ui-slider .ui-slider-handle {
    width: 0.7em !important;
    margin-left: -0.35em !important;
    cursor: default;
}

#sliderVal {
    display:inline-block;
    margin-left: 30px;
}


#criteria {
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    padding-left: 120px;
    min-height: 70px;
    line-height: 70px;
    background: url(../img/binding_dark.png) repeat;
    color: #fff;
}